@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "My font";
    font-weight: 900;
    src: url("/fonts/Dystopian Bold.woff2") format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "My font Regular";
    font-weight: 700;
    src: url("/fonts/Dystopian-regular.woff2") format("woff2");
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "My font", sans-serif;
  font-weight: 900 !important;
}

p, .link {
  font-family: "My font Regular", sans-serif;
  font-weight: 700 !important; 
}

